:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --main-text-color:#212121;
  --second-text-color:#757575;
  --white-text-color: #FFFFFF;
  --accent-color: #2196F3;
  --accent-button-color: #188CE8;
  --background-color: #2F303A;
  --icon-color: #AFB1B8;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --background-color-icon: #F5F4FA;
  --second-backgrounf-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background: var(--white-text-color);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.contact-links-list {
  display: flex;
  margin-left: auto;
}

.contact-links-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms var(--timing-function);
}

.contact-links-list-link:hover, .contact-links-list-link:focus {
  color: var(--accent-color);
}

.contact-links-list-item {
  display: flex;
}

.contact-links-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px;
  fill: var(--second-text-color);
  transition: fill 250ms var(--timing-function);
}

.contact-links-list-link:hover .contact-icon,
.contact-links-list-link:focus .contact-icon {
  fill: var(--accent-color);
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.title-theme-dark {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.logo {
  color: var(--main-text-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 90px;
}

.logo span {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-text-color);
  transition: transform 250ms var(--timing-function);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.contact-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-label {
  display: block;
  margin-bottom: 10px;
}

.contact-form-label-feedback {
  display: block;
  margin-bottom: 20px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.contact-form-input:focus, .contact-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-icon {
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  position: absolute;
  transition: fill 250ms var(--timing-function);
}

.contact-form-input:focus + .contact-form-icon,
.contact-form-input:hover + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-feedback {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.contact-form-feedback:focus, .contact-form-feedback:hover {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-feedback::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border: 1px solid var(--main-text-color);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../img/icon-check.svg");
  background-position: center;
  border-radius: 2px;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border: 1px solid var(--accent-color);
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 1px solid var(--main-text-color);
  cursor: pointer;
  content: "";
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  background-color: var(--accent-button-color);
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.link-policy {
  color: var(--accent-color);
}

.footer-second {
  margin-left: 72px;
}

.footer-social-icon-list {
  display: flex;
}

.footer-social-icon-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--second-backgrounf-color);
  transition: background-color 250ms var(--timing-function);
}

.footer-social-icon-link:hover, .footer-social-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-social {
  fill: var(--white-text-color);
}

.footer-form {
  margin-left: auto;
}

.footer-form-sing-up {
  display: flex;
}

.footer-contact-form-input {
  padding: 15px 16px;
  min-width: 358px;
  margin-right: 12px;
  color: var(--white-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.footer-contact-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-icon {
  margin-left: 10px;
}

.footer-contact-form-submit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.footer-contact-form-submit-btn::before {
  background-image: url("../img/icon-check.svg");
}

.footer-contact-form-submit-btn:hover, .footer-contact-form-submit-btn:focus {
  background-color: var(--accent-button-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  font-family: var(--primary-font-family);
  font-weight: 500;
}

.nav-list list {
  display: flex;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  position: relative;
  transition: color 250ms var(--timing-function);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list-link::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation a.current {
  color: var(--accent-color);
}

.current:after {
  opacity: 1;
}

.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.footer-logo span {
  color: var(--accent-color);
}

.contact-info {
  font-style: normal;
}

.address-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.contact-list-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.contact-list-link:hover, .contact-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link li:not(:last-child) {
  margin-bottom: 9px;
}
/*# sourceMappingURL=portfolio.css.map */